@page
@model Appuntamenti.Pages.AdminTask.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*
==================================================
ADMIN TASK
CREATE PAGE
===================================================
*@
<br/>
<h2 class="text-info">Create Admin Task</h2>
<br/>
<form method="post">
    
    <div class="border">
        <div class="container">
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="AdminTask.Name"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="AdminTask.Name" class="form-control" />
                </div>
                <span asp-validation-for="AdminTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="AdminTask.Description"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="AdminTask.Description" class="form-control" />
                </div>
                <span asp-validation-for="AdminTask.Description" class="text-danger"></span>
            </div>
        </div>
@*
===================================================
BUTTON CREATE AND
BACK TO LIST
===================================================
*@
        <div class="container">
            <div class="form-group row">
                <div class="col-md-5 offset-2">
                   <partial name="_CreateAndBackToListButton"/>
                   
                </div>
            </div>
        </div>
    </div>
</form>

@*partial view validation*@

@section  Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

