
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Appuntamenti.Utility

@*JUMBOTRON FIELD*@
<div class="jumbotron border text-white">
    <div class="container">
        <lead class="display-4"><b>Welcome to my Project</b></lead>
        <p class="lead">Hi there, this is a training project made by Hamza El Aouane.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

@*SERVICE PROVIDED FIELD *@
<div class="container">
    <div class="row text-center ">
        <div class="col-md-4 border-right mb-5">
            <div class="card-title">
                <i class="fas fa-calendar-alt fa-3x" id="icons"></i>
                <h4 class="card-title">Calendar</h4>
            </div>
            <div class="card-body">
                <p>Full Calendar appointment will be implemented in this section. Work in Progress</p>
            </div>
            <a class="btn btn-primary" asp-area="" asp-page="/Privacy">Calendar</a>
        </div>

        <div class="col-md-4 border-right mb-5">
            <div class="card-title">
                <i class="fas fa-user-tie fa-3x" id="icons"></i>
                <h4 class="card-title">Emplyees</h4>
            </div>
            <div class="card-body">
                <p>A list of employees and their details. Work in Progress </p>
            </div>
            <br/>
            <a class="btn btn-primary" asp-area="" asp-page="/Privacy">Personale</a>
        </div>

        <div class="col-md-4  mb-5">
            <div class="card-title">
                <i class="fas fa-file-pdf fa-3x" id="icons"></i>
                <h4 class="card-title">Documents</h4>
            </div>
            <div class="card-body">
                <p>A Easy Way to have access to the important document, most used without browsing on the internet. </p>
            </div>
            <a class="btn btn-primary" asp-area="" asp-page="/Privacy">Documents</a>
        </div>
    </div>
    @if (User.IsInRole(SD.AdminAccount))
    {
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 offset-4">
                    <div class="card-title">
                        <i class="fas fa-toolbox fa-3x" id="icons"></i>
                        <h4 class="card-title">Admin</h4>
                    </div>
                    <div class="card-body">
                        <p>Admin Section</p>
                    </div>
                    <a class="btn btn-primary" asp-area="" asp-page="/AdminTask/Index">Admin</a>
                </div>
            </div>
        </div>
    }

</div>
